
  body{
    color: whitesmoke;
    background-color: #131022 ;
    background-image: url(fundo2_4000x2667_8999x6000.png);
    background-position:50%;
    background-repeat: repeat-y;
    backface-visibility: 85%;
    background-size: 95% ;
    background-blend-mode:color-dodge;
    font-size: 30px;
}
 #introdução {
margin: auto;
color: #fff;
font-family: 'Courier New', Courier, monospace;

 }
 #sobre-mim{
  margin: auto;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
 }