*{
  margin: 0;
  padding: 0;
}
body{
    color: whitesmoke;
    background-color: #131022 ;
    background-image: url(fundo2_4000x2667_8999x6000.png);
    background-position:50%;
    background-repeat: repeat-y;
    backface-visibility: 85%;
    background-size: 95% ;
    background-blend-mode:color-dodge;
    font-size: 30px;
}

#introdução, #sobre-mim {
    text-align: center;
    margin: auto;
    padding: 15px;
}
 #introdução {

 color: #fff;
 font-family: 'Courier New', Courier, monospace;

 }
 a.link{
  text-decoration: none;
  background-color: rgba(40, 39, 38, 0.852);
  color: #fff;;
 }
 #projetos {
  padding-top: 300px;
  width: 920px
 }
 .projeto {
  width: 400px; 
  padding: 10px;
  background-color: #131022;

 }