*{
  margin: 0;
  padding: 0;
}
body{
    color: whitesmoke;
    background-color: #000606;
    background-position: top right;
    background-repeat: no-repeat;

}

#introdução, #sobre-mim {
    text-align: center;
    margin: auto;
    padding: 15px;
}

 #introdução {

 color: #fff;
 font-family: 'Courier New', Courier, monospace;

 }
 a.link{
  text-decoration: none;
  background-color: rgba(40, 39, 38, 0.852);
  color: #fff;;
 }
 #projetos {
  padding-top: 300px;
  width: 920px
 }
 .projeto {
  width: 400px; 
  padding: 10px;

 }
 